<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Majors</th>
    <th scope="col">Overview</th>
    <th scope="col">Students Enrolling</th>
    <th scope="col">Average Salary</th>
    <th scope="col">Overall Rank</th>
  </tr>
  </thead>

    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Information Systems</td>
        <td><a href="https://www.njit.edu/academics/major/information-systems">https://www.njit.edu/academics/major/information-systems</a></td>
        <td>150</td>
        <td>60000</td>
        <td>2</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Business & Information Systems</td>
        <td><a href="https://www.njit.edu/academics/major/business-information-systems">https://www.njit.edu/academics/major/business-information-systems</a></td>
        <td>120</td>
        <td>50000</td>
        <td>3</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Computer Science</td>
        <td><a href="https://www.njit.edu/academics/major/computer-science">https://www.njit.edu/academics/major/computer-science</a></td>
        <td>175</td>
        <td>70000</td>
        <td>1</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Data Science</td>
        <td><a href="https://www.njit.edu/academics/major/data-science">https://www.njit.edu/academics/major/data-science</a></td>
        <td>75</td>
        <td>52000</td>
        <td>4</td>
    </tr>
    <tr>
        <th scope="row">5</th>
        <td>Cybersecurity and Privacy</td>
        <td><a href="https://www.njit.edu/academics/major/cybersecurity-and-privacy">https://www.njit.edu/academics/major/cybersecurity-and-privacy</a></td>
        <td>100</td>
        <td>42000</td>
        <td>5</td>
    </tr>
    <tr>
        <th scope="row">6</th>
        <td>Human Computer Interaction</td>
        <td><a href="https://www.njit.edu/academics/major/human-computer-interaction">https://www.njit.edu/academics/major/human-computer-interaction</a></td>
        <td>80</td>
        <td>62000</td>
        <td>6</td>
    </tr>
    </tbody>
</table>

<p>
    <b>Information Systems</b>
    <br>Information Systems offers a strong, practical focus in designing, developing and evaluating databases and management information systems to support business and managerial operations in publishing, media and communication environments.</br>
</p>

<p>
    <b>Business & Information Systems</b>
    <br>Information Systems professionals serve as the critical link between technology and business. As an Information Systems professional, you will work on collaborative teams to design, analyze, implement, deploy and evaluate the computing systems that drive modern enterprise. You will take data and transform it into organizational knowledge, enabling people to access the information to predict the future and make informed decisions that propel business.</br>
</p>

<p>
    <b>Computer Science</b>
    <br>Computer scientists think logically to build and implement computer algorithms, work with operating systems, databases, firewalls and web servers – and write programs for computer gaming, mobile computing, and wireless systems.</br>
</p>
